<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wenzi{
            display: inline-block;
            width: 100px;
            text-align: right;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <form name="form1" action="login"  method="post" >
        <p>
            <label class="wenzi">账号：</label>
            <input type="text" name="username">
        </p>
        <p>
            <label class="wenzi">密码：</label>
            <input type="password" name="password">
        </p>
        <input name="submit" type="submit" value="登录" >
        <a href="zhuce">注册</a>
        <input name="reset" type="reset" value="重置">
    </form>
</div>
</body>
</html>